//Colors from logo
$brown: rgb(56, 26, 11); 
$green: rgb(96, 180, 4);
$lime: rgb(191, 210, 0);
$orange: rgb(244, 140, 6);
$teal: rgb(82, 183, 136);

$darkGreen: rgb(68, 128, 2);

$offWhite: rgb(250, 249, 246);
$offWhiteGreen: rgb(249, 255, 237);
$white: rgb(255, 255, 255);

$colors: (
    "green": $green, 
    "lime": $lime, 
    "orange": $orange, 
    "teal": $teal
);