@use './colors.scss';
@use './fonts.scss' as *;

@mixin font-style($font-family: $default-font, $font-size: $default-font-size, $font-color: $default-font-color) {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
}


@mixin bg-style($bgColor, $textColor: colors.$white) {
    background-color: $bgColor;
    color: $textColor;
  }


@mixin unordered-list($color: colors.$white, $padding: 0rem, $margin: 0rem) {
  list-style-type: none;
  margin: $margin;
  padding: $padding;
  color: $color;

  a {
    color: $color;
    text-decoration: none;
    transition: color 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &:hover {
      transition: color 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      color: darken($color, 10%);
    }
  }
}


