// Bootstrap overrides
@use '../abstracts/colors.scss';
@use '../abstracts/fonts.scss';

$body-bg: colors.$offWhite;
$body-color: colors.$brown;

$font-family-base: fonts.$default-font;

$paragraph-margin-bottom: 0rem;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
