@use '../abstracts/colors.scss' as *;

// Original source: https://codepen.io/bhautikbharadava/pen/OdPzdW

@each $color-name, $color-value in $colors {

    $borderProps: .3rem solid $color-value;

    .btn-#{$color-name} {
        position:relative;
        text-decoration: none;
        color: lighten($brown, 20%);
        font-weight: 600;
        background-color: transparentize($color-value, .9);
        padding: 1rem;
        border-radius: .3rem;
        transition: border 300ms, width 300ms, height 300ms, color 300ms;

        &:after,&:before {
        content:" ";
        width: 2rem;
        height: 1rem;
        position: absolute;
        transition: border 300ms, width 300ms, height 300ms, color 300ms;
        }

        &:after {
        top: -.1rem;;
        left: -.1rem;;
        border-top: $borderProps;
        border-left: $borderProps;
        }

        &:before {
        bottom:-.1rem;
        right:-.1rem;
        border-bottom: $borderProps;
        border-right: $borderProps;
        }

        &:hover {
            color: $brown;
            &:before,&:after {
            width:105%;
            height:115%;
        }
    }
}
    
}


a.btn {
    font-weight: bold;
    text-decoration: none;
}
