@use '../abstracts/colors.scss';

.banner {
    background-color: colors.$darkGreen;

    h2 {
        font-family: 'Hanken Grotesk', sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        color: colors.$white;
    }
}