@use '../abstracts/colors.scss' as *;
@use '../abstracts/mixins.scss' as *;

$imgHeight: 15rem;
$imgWidth: 15rem;

.cards-section {
    background: linear-gradient(147deg, #f2f6ec 0%, #e9ffd0 74%);    
}

.cards {
    .card-container {
        background-color: $white;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    }

    h4 {
        color: $brown;
        font-family: 'Hanken Grotesk', sans-serif;
        font-weight: 900;
        min-height: 3.75rem;
    }

    .card-bar {
        width: 5rem;
        height: .3rem;
       
    }

    .lazyLoad-wrapper {
        width: $imgWidth;
        height: $imgHeight;
    }

    .LazyLoad {
        opacity: 0;
        transition: all 1s ease-in-out;
        margin: 0 auto;
      }
      
      .is-visible {
        opacity: 1;
      }

    img {
        height: $imgHeight;
        width: $imgHeight;
        transform: translateX(-10%);
        object-fit: cover;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        @include for-lg-latop-down {    
            transform: translate(0, -10%);
         }
    }
}

// class is dynamically created in map loop in <Cards />, 
// then we loop over the map in _colors.scss
@each $color-name, $color-value in $colors {
    .card-#{$color-name}-bar {
        background-color: $color-value;
    }
}