@use '../abstracts/index' as *;

.hero-wrapper {

    height: 70vh;
    background: url(../../assets/hero-yosemite.jpg) no-repeat top center;
    background-color: $brown;
    background-size: cover;
    color: $white;

    h1 {
        @include font-style($heading-font, 4rem, $white );
        font-weight: 900;
        text-shadow: .1rem .09rem .1rem $brown;

        @include for-sm-mobile-only {    
            font-size: 3.5rem; 
         }
    }
    
}