@use '../abstracts/index' as *;

footer {
    position: relative;
    overflow: hidden;
    background-color: $brown;
    border-top: 1rem solid darken($teal, 10%);
    .footer-waves {
        position: absolute;
        bottom: 22rem;
        left: 0;
        right: 0;
        @include for-tablet-to-laptop {
            bottom: 15rem;
        }
        @include for-lg-laptop-up {
            bottom: 10rem;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    img {
        max-width: 100%;
        height: auto;
        @include for-lg-laptop-up {    
            max-width: 70%; 
         }
    }

    small {
        color: $white;
    }
}

.ul-special {
    @include unordered-list($orange);
    font-size: 1.2rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.icon-unicode {
    font-size: 2.5rem;
}