@use '../abstracts/index' as *;

footer {
    border-top: 1rem solid $teal;
    background-color: lighten($teal, 40%);

    small {
        color: $brown;
    }
}

.ul-special {
    @include unordered-list($orange);
}

.icon {
    width: 2rem;
    height: 2rem;
}

.icon-unicode {
    font-size: 2.5rem;
}