@use '../abstracts/index' as *;

footer {
    border-top: 1rem solid $teal;
    background-color: lighten($teal, 40%);

    img {
        max-width: 100%;
        height: auto;
        @include for-lg-laptop-up {    
            max-width: 70%; 
         }
    }

    small {
        color: $brown;
    }
}

.ul-special {
    @include unordered-list($orange);
    font-size: 1.2rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.icon-unicode {
    font-size: 2.5rem;
}