@use '../abstracts/colors.scss' as *;

header {
    background-color: $offWhiteGreen;
    border-bottom: .7rem solid $darkGreen;
};

.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;

    &image {
        max-width: 100%;
        height: auto;
    }
}
