@use '../abstracts/colors.scss';

header {
    background-color: colors.$offWhiteGreen;
    border-bottom: .7rem solid colors.$darkGreen;
};

.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;

    &image {
        max-width: 100%;
        height: auto;
    }
}
